<div class="container">
  <table class="table table-bordered table-striped">
    <thead>

      <tr>
        <th>Person Id</th>
        <th>Person Name</th>
        <th>Email</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of people">
        <td>

          <a [routerLink]="['/people/view',person.id]">{{person.id}}</a>
        </td>
        <td>
          {{person.name}}
        </td>
        <td>
          {{person.email}}
        </td>
        <td><button class="btn btn-danger" (click)="deletePerson(person)">Delete User</button>

      </tr>
    </tbody>
  </table>
</div>
